<script src="appointment.ts"></script>
<ion-header>
  <ion-navbar>
    <ion-title>{{title|uppercase}}</ion-title>
    <button ion-button menuToggle style="color: #d58512">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content center text-center>

  <ion-grid class="vertical-align-content">

    <ion-row justify-content-center align-items-center>

      <ion-col center>

        <div>
          <div>
            <div *ngIf="currentUid;else login">
              <ion-note item-right>To book an appointment with Ajeet Mundan fill up the following details</ion-note>
              <form class="form" name="appo-form"
                    [formGroup]="appoForm"
                    (ngSubmit)="formSubmit(appoForm.value,appoForm.valid )"
                    novalidate>

                <ion-row>
                  <ion-col width-50 class="datepicker-column">
                    <ion-label>
                      <ion-icon name="time"></ion-icon>
                      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="appointTime" ></ion-datetime>
                    </ion-label>
                  </ion-col>
                  <ion-col width-50 class="datepicker-column">
                    <ion-label>
                      <ion-icon name="calendar"></ion-icon>
                      <ion-datetime [dayValues]="dayValues" displayFormat="DD DDD"  pickerFormat="DD" formControlName="appointDate"></ion-datetime>
                    </ion-label>
                  </ion-col>
                </ion-row>

                <ion-item [ngClass]="{'error': appoForm.get('name').valid}">
                  <ion-label>
                    <ion-icon name="person"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Your Name" formControlName="name"></ion-input>
                </ion-item>

                <ion-item [ngClass]="{'error': appoForm.get('email').valid}">
                  <ion-label>
                    <ion-icon name="mail"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Your Email" formControlName="email"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>
                    <ion-icon name="call"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Phone" formControlName="phone" type="tel"></ion-input>
                </ion-item>

                <ion-item class="select-service spacer">
                  <ion-label>Select Service</ion-label>
                  <ion-select formControlName="service" multiple="true" class="select-services"  cancelText="Cancel" okText="Confirm!" (ionChange)="selectedServices($event)">
                    <ion-option *ngFor="let service of services|async" [value]="[service.title]">{{service.title}} - {{service.price}}</ion-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-scroll scrollX="true" style="width:90vw; height:50px" >
                    <ion-row nowrap class="headerChip">
                      <div *ngFor="let svc of serviceSelected; let i = index">
                        <ion-chip style="background: wheat">
                          <ion-label>{{svc}}</ion-label>
                          <div></div>
                        </ion-chip>
                      </div>
                    </ion-row>
                  </ion-scroll>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <ion-icon name="text"></ion-icon>
                  </ion-label>
                  <ion-textarea placeholder="Any special requests" formControlName="notes" ></ion-textarea>
                </ion-item>

                <button type="submit" ion-button full  icon-right  [disabled]="!appoForm.valid" class="submit">
                  <ion-icon class="std-icon-hairdresser-chair"></ion-icon> Book appointment
                </button>
              </form>
            </div>
            <ng-template #login>
              <ion-grid>
                <img src="assets/images/home/logo1.png" alt="logo" class="center">
                <ion-row justify-content-center align-items-center text-center>
                  <ion-list inset>
                    <ion-item>
                      <ion-label floating>Email</ion-label>
                      <ion-input type="text" [(ngModel)]="user.email" full></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label floating>Password</ion-label>
                      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
                    </ion-item>

                    <ion-grid>
                      <ion-row justify-content-center align-items-center>
                        <div ion-text *ngIf="error" color="danger">{{error}}</div>
                      </ion-row>
                      <ion-row justify-content-center align-items-center>
                        <button ion-button color="secondary" round (click)="doLogin()">Sign In</button>
                      </ion-row>
                      <ion-row justify-content-center align-items-center>
                        <button ion-button color="secondary" round (click)="passwordReset()">Forgot Password</button>
                      </ion-row>
                      <ion-row text-center>
                        <ion-label>OR</ion-label>
                      </ion-row>
                      <ion-row justify-content-center align-items-center>
                        <ion-col>
                          <button ion-button color="secondary" outline round (click)="doRegister()">Create a new account</button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-list>
                  <ion-note item-right>To book an appointment with Ajeet Mundan.
                    signin with your email Id and password.</ion-note>
                </ion-row>
              </ion-grid>
            </ng-template>
          </div>
        </div>
        <deal-card [deal]="singleDeal" [canGrab]="false" *ngIf="singleDeal"></deal-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
