page-appointment {

}

.single-select-alert {
  .alert-radio-label {
    white-space: normal;
  }
}

.text-center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginimage {
  height: 40vh;
  width: auto;
  margin: auto;
  display: block;

}
