<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="clickBackButton()" color="secondary">
        <ion-icon class="customIcon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Appointment</ion-title>
  </ion-navbar>
</ion-header>
<ion-content center text-center>

  <ion-grid class="vertical-align-content">

    <ion-row justify-content-center align-items-center>
      <ion-note item-right>To book an appointment with Ajeet Mundan fill up the following details</ion-note>
      <ion-col center>

        <div>
          <div>
            <div *ngIf="currentUid;">
              <form class="form" name="appo-form"
                    [formGroup]="appoForm"
                    (ngSubmit)="formSubmit(appoForm.value,appoForm.valid )"
                    novalidate>
                <ion-item [ngClass]="{'error': appoForm.get('name').valid}">
                  <ion-label>
                    <ion-icon name="person"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Your Name" formControlName="name"></ion-input>
                </ion-item>

                <ion-item [ngClass]="{'error': appoForm.get('email').valid}">
                  <ion-label>
                    <ion-icon name="mail"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Your Email" formControlName="email"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>
                    <ion-icon name="call"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Phone" formControlName="phone" type="tel"></ion-input>
                </ion-item>

                <ion-item class="select-service">
                  <ion-label>Select Service</ion-label>
                  <ion-select formControlName="service" multiple="true">
                    <ion-option *ngFor="let service of services|async" [value]="[service.$key,service.title]">{{service.title}} - {{service.price | currency}}</ion-option>
                  </ion-select>
                </ion-item>

                <ion-row>
                  <ion-col width-50 class="datepicker-column">
                    <ion-label>
                      <ion-icon name="time"></ion-icon>
                      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="appointTime"></ion-datetime>
                    </ion-label>
                  </ion-col>
                  <ion-col width-50 class="datepicker-column">
                    <ion-label>
                      <ion-icon name="calendar"></ion-icon>
                      <ion-datetime displayFormat="MMM DD YYYY" formControlName="appointDate"></ion-datetime>
                    </ion-label>
                  </ion-col>
                </ion-row>

                <ion-item>
                  <ion-label>
                    <ion-icon name="text"></ion-icon>
                  </ion-label>
                  <ion-textarea placeholder="Any special requests" formControlName="notes" ></ion-textarea>
                </ion-item>

                <button type="submit" ion-button full  icon-right  [disabled]="!appoForm.valid" class="submit">
                  <ion-icon class="std-icon-hairdresser-chair"></ion-icon> Book appointment
                </button>
              </form>
            </div>
          </div>
        </div>
        <deal-card [deal]="singleDeal" [canGrab]="false" *ngIf="singleDeal"></deal-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
