page-home {

}


.slider-hrz {
  background-color: #2c2e43;

  &.height-auto {
    height: auto;
  }

  .slide-image {
    height: 100%;
    width: 100%;
  }

  ion-grid,
  ion-col {
    padding: 0;
  }
}

.bl-content {
  background-color: #f5f5f5;

  &--block {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: flex;
    align-items: stretch;
    @media (min-width: $screen-xs) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      height: 190px;
    }
  }

  &--white {
    background: #fff;
    box-shadow: 0px 1px 1px #cccece;
    padding:20px 15px 10px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: wavy;

    .icon {
      height: 60px;
      display: block;
      margin: 0 auto;
      text-align: center;
      &:before {
        font-size: em(60);
        color: #f69321;
      }
    }

    h3 {
      font-size: em(15);
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.text-color {
  font-size: 3em;
  margin: 0;
  opacity: 1.0 !important;
  -webkit-text-stroke: 1px darkorange;
  -webkit-text-fill-color: yellow;
}

.ion-grid{
  justify-content: center;
}

.vertical-align-content
{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}
