.footer-style-dark {
  .toolbar-background {
    background: #132344;
  }

  .title {
    width: 100%;
    padding: 0;
  }
  .toolbar-title {
    color: #f69321;
    text-transform: uppercase;
    text-align: center;
  }
  .icon {
    margin-right: 15px;
  }
}
