page-appointment {

}

.single-select-alert {
  .alert-radio-label {
    white-space: normal;
  }
}

.textcolor{
  color: orange;
}

.text-center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginimage {
  height: 40vh;
  width: auto;
  margin: auto;
  display: block;

}

.stretch{
  width: 100%;
}
.vertical-align-content
{
  height: 100%;
  width: 100%
}

.customIcon {
  font-size: 1.7em;
}

.select-services {
  width:10px;
}


